@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .markdown h1 {
    @apply text-4xl mb-4 mt-8;
  }
  .markdown h2 {
    @apply text-3xl mb-3 mt-6;
  }
  .markdown h3,h5 {
    @apply text-2xl mb-2 mt-5;
  }
  .markdown p {
    @apply mb-4;
  }
  .markdown a {
    @apply text-blue-500 dark:text-blue-400 hover:underline;
  }
  .markdown blockquote {
    @apply border-l-4 border-gray-300 pl-4 italic my-4;
  }
  .markdown ul {
    @apply list-disc list-inside mb-4;
  }
  .markdown ol {
    @apply list-decimal list-inside mb-4;
  }
  .markdown pre {
    @apply bg-gray-100 p-4 rounded mb-4;
  }
  .markdown code {
    @apply text-sm bg-gray-200 p-1 rounded;
  }
}



.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.data-footnote-backref {
  @apply no-underline;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

@layer base {
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
}

button.small {
  @apply p-1 text-sm bg-white text-black border border-black;
}

button.group {
  @apply p-2 text-sm bg-white text-black border border-black;
}

button.pay {
  @apply flex-1 min-w-[20rem] border-2 border-black bg-white p-8 text-xl text-black rounded-xl flex justify-start gap-4;
}

button.pay:disabled {
  @apply bg-gray-100 border-gray-400 text-gray-400 hover:shadow-none;
}

button,
button[type='submit'] {
  @apply py-2 px-4 text-white rounded;
}

button.secondary {
  @apply bg-white text-black border;
}

.prose > ul > li > p {
  margin-top: 0;
  margin-bottom: 0;
}
