/* 

This styling is used for components/DonationForm 
Not used for project cards
*/

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: make scrollbar invisible */
}

/* Hide scrollbar for IE, Edge, and Firefox */
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  src: url('/fonts/BarlowSemiCondensed-Regular.ttf') format('truetype'); /* Adjust the path accordingly */
  font-weight: 400;
  font-style: normal;
}

button.small {
  @apply p-1 text-sm bg-white text-black border border-black;
}

button.group {
  @apply p-2 text-sm bg-white text-black border border-black;
}

button.pay {
  @apply  border-blue-500 mt-2 bg-transparent font-semibold text-white hover:border-transparent flex-1 min-w-[20rem]  bg-blue-500 hover:bg-blue-600 p-8 text-xl rounded-xl flex justify-start gap-4;
}

button.twitter {
  @apply border bg-transparent font-semibold text-blue-500 hover:border-transparent hover:bg-blue-300 hover:text-gray-700 flex-1 ml-2 border-gray-400 bg-white text-sm rounded-lg;
}

button.pay:disabled {
  @apply bg-gray-100 border-gray-400 text-gray-400 hover:shadow-none;
}

input[type='checkbox'] {
  @apply mr-2;
}
